*
{
    font-family: 'Oswald', sans-serif;

}
p
{
    font-size: 25px;
}
.body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header
{
    /* border: 2px solid black; */
    height: 50px;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;


}
.content
{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 800px;
    margin: 10px 0px;
}
.footer
{
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container
{
    
    height: 670px;
    width: 670px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.outer
{
    display: flex;
    flex-direction: row;
}
.inner 
{
    border: 0.5px solid rgba(173, 163, 163, 0.521);
}
.controls
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.startbutton
{
    height: 50px;
    width: 90px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 2px solid blue;
    border-radius: 20px;
}
.reset 
{
    height: 50px;
    width: 90px;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    border: 2px solid blue;
    border-radius: 20px;
}
.slidercont
{
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
}
.slider
{
    width: 700%; 
    opacity: 0.7;
    height: 25px; 
    background: #d3d3d3;
}
.p
{
    font-size: 10px;
    font-weight: bold;

}
.colorselect
{
    margin: 20px;

}